.homes {
    grid-row: 2/3;
    grid-column: center-start / center-end;

    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    grid-gap: 7rem;
    margin: 15rem 0rem;
}


