.gallery {
    background-color: white;
    grid-column: full-start / full-end;

    display:grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(7,5vw);
    grid-gap: 1.5rem;
    padding: 1.5rem;

}

.gallery__item--1 {
    grid-column: 1/ 3;
    grid-row: 1 / 3;
}
.gallery__item--2 {
    grid-column: 1 / 3;
    grid-row: 3 / 6;
}
.gallery__item--3 {
    grid-column: 1 / 2;
    grid-row: 6 / 8;
}
.gallery__item--4 {
    grid-column: 3 / 6;
    grid-row: 1 / 4;
}
.gallery__item--5 {
    grid-column: 3 / 6;
    grid-row: 1 / 4;
}
.gallery__item--6 {
    grid-column: 3 / 5;
    grid-row: 4 / 6;
}
.gallery__item--7 {
    grid-column: 2 / 4;
    grid-row: 6 / 8;
}
.gallery__item--8 {
    grid-column: 3 / 5;
    grid-row: 4 / 6;
}
.gallery__item--9 {
    grid-column: 4 / 5;
    grid-row: 6 / 8;
}
.gallery__item--10 {
    grid-column: 5 / 8;
    grid-row: 5 / 8;
}
.gallery__item--11 {
    grid-column: 6 / 9;
    grid-row: 1 / 3;
}
.gallery__item--12 {
    grid-column: 6 / 8;
    grid-row: 3 / 5;
}
.gallery__item--13 {
    grid-column: 8 / 9;
    grid-row: 3 / 6;
}
.gallery__item--14 {
    grid-column: 8 / 9;
    grid-row: 6 / 8;
}
.gallery__item--title { 
    display: flex;
    text-align: center;
    align-self: center;
    font-weight: 700;
    text-transform: uppercase;
}

.gallery__img { 
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

